<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('流水记录')"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <span>关联订单号：</span>
                            <input type="text" name="orderId"/>
                        </li>
                        <li class="select-time">
                            <span>创建时间：</span>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                   name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                   name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()">
             <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-select-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('alipay:running:edit')}]];
    var removeFlag = [[${@permission.hasPermi('alipay:running:remove')}]];
    var prefix = ctx + "back/merchant/admin";
    var orderRunType = [[${@dict.getType('runOrderType')}]];
    var orderType = [[${@dict.getType('run_order_type')}]];
    var amountType = [[${@dict.getType('amount_type')}]];
    $(function () {
        var options = {
            url: prefix + "/myRunwit",
            exportUrl: prefix + "/myRunwit/export",
            modalName: "代付流水订单记录",
            columns: [
                {checkbox: true},
                {field: 'id', title: 'id编号',},
                {field: 'orderId', title: '订单号'},
                {field: 'account', title: '账户'},
                {field: 'amount', title: '处理金额'},
                {
                    field: 'orderType', title: '流水类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(orderType, value);
                    }
                },
                {field: 'remark', title: '备注'},
                {
                    field: 'createTime', title: '创建时间',
                    formatter: function (value, row, index) {
                        return $.table.formatDateTime(value);
                    }
                },
                {
                    field: 'amountType',
                    title: '数据类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(amountType, value);
                    }
                },
                {field: 'balance', title: '当前余额'}]
        };
        $.table.init(options);
    });
    //初始化时间
    layui.use('laydate', function () {
        const laydate = layui.laydate;
        laydate.render({
            elem: '#startTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 00:00:00",
            isInitValue: true
        });
        laydate.render({
            elem: '#endTime',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime',
            value: new Date().toLocaleDateString().replace(/\//g, "-") + " 23:59:59",
            isInitValue: true
        });
    });
</script>
</body>
</html>